{% extends 'base.html' %}
{% block title %}대량등록{% endblock %}
{% block content %}
<div class="page">
  <h1 class="page-title">대량등록</h1>
  <p class="page-sub">{{ subtabs | selectattr('key', 'equalto', tab) | map(attribute='desc') | first }}</p>
  {% if tab == 'collect' %}
    {% include 'bulk/partials/_collect.html' %}
  {% elif tab == 'process' %}
    {% include 'bulk/partials/_process.html' %}
  {% elif tab == 'send' %}
    {% include 'bulk/partials/_send.html' %}
  {% elif tab in ('orders', 'cs', 'stats') %}
    {% include 'bulk/partials/_shared_screen.html' %}
  {% elif tab == 'settings' %}
    {% include 'bulk/partials/_settings.html' %}
  {% elif tab == 'manual' %}
    {% include 'bulk/partials/_manual.html' %}
  {% endif %}
</div>
{% endblock %}
